.input-group {
  margin: 30px auto;
}

.input-group-input--left {
  width: 64px;
}

.input-group-input--top {
  width: 324px;
}

.input-group-wrapper {
  display: flex;
  width: 324px;
}

.input-group-wrapper--top {
  flex-direction: column;
  justify-content: flex-start;
}

.input-group-wrapper--left {
  justify-content: space-between;
  align-items: center;
}

.input-group-label {
  margin-bottom: 8px;
  font-size: 16px;
  font-weight: bold;
  color: #333;
}

.input-group-input {
  display: flex;
  align-items: center;
  position: relative;
  border-radius: 4px;
}

.input-group-input input {
  flex: 1;
}

.input-group.hover .input-group-input { 
  filter: brightness(1.2); 
}

.input-group.focus .input-group-input { 
  border: 1px solid  rgba(132, 202, 255, 1);
  box-shadow: 0px 0px 0px 4px rgba(46, 144, 250, 0.24);
  outline: none;
}

.input-group.error .input-group-input { 
  border: 1px solid  rgba(253, 162, 155, 1);
  border-color: red; 
  background: rgba(255, 255, 255, 1);
}

.input-group.error-focus .input-group-input { 
  box-shadow: 0px 0px 0px 4px rgba(240, 68, 56, 0.24);
  border: 1px solid rgba(253, 162, 155, 1);
}

.input-group.disabled .input-group-input {
  border: 1px solid rgba(209, 209, 214, 1);
  background: rgba(209, 209, 214, 1);
  cursor: not-allowed;
}

.input-group-input .input-icon {
  position: absolute;
  right: 10px;
  color: #aaa;
}
  
