.input-label {
  font-size: 12px;
  font-weight: 500;
  line-height: 20px;
  margin-bottom: 4px;
  display: flex;
  align-items: center;
  gap: 4px;
}

.theme-dark .sb-show-main.input-label {
  color: #fff!important;
}

.input-label--sm {
  font-size: 12px;
}

.input-label--md {
  font-size: 14px;
}

.input-label--lg {
  font-size: 16px;
}

.input-label--xl {
  font-size: 18px;
}

.input-label--top {
  margin-bottom: 8px;
}

.input-label--left {
  margin-right: 10px;
}

.required-indicator {
  color: red;
  margin-left: 4px;
}

.icon-info {
  display: block;
  cursor: pointer;
}

.icon-info:hover {
  filter: brightness(1.2);
}


