:root {
  --colorinput: black;
  --colorw: red;
}

.input-label {
  display: block;
  font-size: 12px;
  font-weight: 500;
  line-height: 20px;
  text-align: left;
  margin-bottom: 4px;
  display: flex;
  align-items: center;
  gap: 4px;
  /* color:rgba(26, 26, 30, 1); */
  color: var(--colorinput);

}

.required-indicator {
  color: red;
  margin-left: 4px;
}

.icon-info {
  cursor: pointer;
}

.icon-info:hover {
  filter: brightness(1.2); /* Зміна яскравості при наведенні */
}

@media (prefers-color-scheme: dark) {
  .input-label {
    color: red;
  } 


 
}




:root [data-theme="light"] {
  --colorinput: #000;
}

:root [data-theme="dark"] {
  --colorinput: red;
}