/* :root {
  --background-color: #fff;
  --text-color: #000;
}

.dark-theme {
  --background-color: #000;
  --text-color: #fff;
}

body {
  background-color: var(--background-color);
  color: var(--text-color);
} */

/* Стилі для світлої теми */
.sb-show-main.sb-main-padded.theme-light {
    background-color: #ffffff;
    color: #000000; /* Чорний текст для світлої теми */
  }
  
  /* Стилі для темної теми */
  .sb-show-main.sb-main-padded.theme-dark {
    background-color: #000000;
    color: #ffffff; /* Білий текст для темної теми */
  }
  
  /* Стилі підказки для світлої теми */
  .sb-show-main.sb-main-padded.theme-light .hint-text {
    color: #666666; /* Сірий текст для світлої теми */
  }
  
  /* Стилі підказки для темної теми */
  .sb-show-main.sb-main-padded.theme-dark .hint-text {
    color: #aaaaaa; /* Світло-сірий текст для темної теми */
  }
  
  body {
    background-color: red !important;
  }